<h2 class="mat-title">Pick an image</h2>
<br />
<p>{{ status }}</p>

@if (picked) {
  <figure>
    <img [src]="picked.content" />

    <figcaption>
      File:
      <strong>{{ picked.name }}</strong>
      <br />
      {{ picked.size }} bytes <br />
      Read as {{ picked.readMode | readMode }}
    </figcaption>
  </figure>
}

<button
  type="button"
  mat-button
  #filePicker="ngxFilePicker"
  ngxFilePicker
  [readMode]="readMode"
  [multiple]="true"
  [filter]="ignoreTooBigFile"
  accept="image/*"
  (readStart)="onReadStart($event)"
  (filePick)="onFilePicked($event)"
  (readEnd)="onReadEnd($event)"
>
  Browse
</button>
